* {
    box-sizing: border-box;
}

html {
    background-color: rgb(168, 223, 255);
    color: black;
    font-family: "Permanent Marker", cursive;
}

#sun {
    height: 150px;
    width: 150px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
    margin: -60px;
}

#ray-1 {
    height: 15px;
    width: 70px;
    background-color: yellow;
    margin-left: 80px;
    margin-top: -35px;
    border-radius: 10px;
    transform: rotate(0deg);
}

#ray-2 {
    height: 15px;
    width: 70px;
    background-color: yellow;
    margin-left: 70px;
    margin-top: 40px;
    border-radius: 10px;
    transform: rotate(30deg);
}

#ray-3 {
    height: 15px;
    width: 70px;
    background-color: yellow;
    margin-left: 20px;
    margin-top: 25px;
    border-radius: 10px;
    transform: rotate(60deg);
}

#ray-4 {
    height: 15px;
    width: 70px;
    background-color: yellow;
    margin-left: -30px;
    margin-top: 0px;
    border-radius: 10px;
    transform: rotate(90deg);
}

h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
    color: rgb(255, 150, 3);
}

#main-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
}

#main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.score-container {
    text-align: center;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    margin: 100px;
    border: 3px solid black;
    width: 200px;
    height: 195px;
}

#score {
    border-top: solid black;
    padding-top: 10px;
    margin-top: 10px;
    justify-content: center;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#mouse-tally {
    font-size: 75%;
    padding-bottom: 10px;
}

#cat-tally {
    font-size: 75%;
    padding-bottom: 10px;
}

#reset {
    cursor: pointer;
    background-color: black;
    border-radius: 75px;
    color: white;
}

#tri {
    width: 0;
    height: 0;
    border-left: 230px solid transparent;
    border-right: 220px solid transparent;
    border-bottom: 150px solid red;
    justify-content: center;
    margin: -0.5px;
}

#window-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 55px;
    right: 40px;
    height: 80px;
    width: 80px;
}

#window {
    width: 100%;
    aspect-ratio: 1/1;
    border: 2px solid white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.pane {
    width: 50%;
    border: solid black;
    aspect-ratio: 1/1;
    background-color: aliceblue;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    background-color: white;
}

.sqr {
    width: 125px;
    aspect-ratio: 1/1;
    border: 2px solid black;
    font-size: 40px;
    text-align: center;
    align-content: center;
    background-color: aliceblue;
    color: black;
    cursor: pointer;
}